.btn { 
    background-color: $dark-cyan;
    border: none;
    outline: none;
    color: floralwhite;
    padding: 20px 35px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
    font-family: $fraunces;
   }