.our-collection {
    padding: 150px 0;

    &__container {
       position: relative;
       &: ::before {
        position: absolute;
        top: -115px;
        left: 120px;
        content: "";
        background-image: url(../../assets/images/photo_2023-05-02_11-51-24.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        z-index: -1;
       }
    }
}